#topbar{
    display: flex;
    width: 80vw;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    position: sticky;
    top: 0;
    z-index: 999;
}

#profile{
    display: flex;
    height: 7vh;
    width: 7vh;

}

#name{
    margin-left: 2rem;
}